/* Change the color of the datepicker button and cell */
.btn.btn-primary {
    background-color: #8b2174 !important;
    color: var(--white);
    white-space: nowrap;
    --icon-stroke: currentColor;
    --icon-fill-bg: var(--primary);

}


.datepicker--button,
.datepicker--cell.-current- {
    color: #935184 !important; /* Change color to blue */
}
 
/* Change the background color of the primary button and login button */
.btn-primary,
.btn-login,
.datepicker--cell.-selected-,
.datepicker--cell.-current-.-selected- {
    background: #935184 !important; /* Change background color to blue */
    border: 1px !important; /* Remove border */
}
 
/* Change the hover color of the primary button, login button, and datepicker cells */
.datepicker--cell.-selected-:hover,
.datepicker--cell.-current-.-selected-:hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-login:hover,
.btn-login:active,
.btn-login:visited,
.btn-login:focus,
.open > .dropdown-toggle.btn-primary {
    background: #935184 !important; /* Change hover background color to light blue */
    border: 1px !important; /* Remove border */
}
[data-page-route=Workspaces] .layout-main-section {
    background-color: white;
    box-shadow: none;
    border-radius: var(--border-radius-lg);
    padding: var(--padding-sm);
}
    [data-page-route=Workspaces] .layout-main .layout-side-section {
        padding-right: 15px;
	background-color: #b481aa;
    }
   .page-head .page-head-content {
    height: var(--page-head-height);
    padding: 8px 0px;
    background-color:#b481aa;
}
.desk-sidebar .standard-sidebar-item > a, .search-dialog .search-results .search-sidebar .standard-sidebar-item > a {
    color: black;
    text-decoration: none;
}

